@main("") {

<h1>Business meets Science</h1>

<p>
    We are living in a great epoch of an ongoing technical revolution.
    The world around us is changing rapidly: every day we see new devices that facilitate our life.
    Smartphones that can in most cases replace computers, robot vacuum cleaners, electric and even self-driving cars! We can continue this list forever.
    A lot of research is actively going on and many solutions are implemented as real things.
</p>
<p>
    We need a huge amount of scientific investigations. However, it is often tricky for entrepreneurs to perform research.
    Laboratories cost a lot of money. People must be trained for many years before they can produce any scientifically meaningful results.
    Most of ongoing research will not actually produce any positive outcome, since researchers only have some hypothesis
    and are never sure they will actually find something (of course, negative outcome is also valuable, but normally cannot be used in business).
    Many products could be significantly improved if a larger amount of research is involved.
</p>
<p>
    On the other side, researchers have their own difficulties: they have to search for the funding of their projects.
    They have to understand what are real needs for the society. It is very difficult for them to find a niche for their products,
    perform proper licensing, launch the products into production and discover appropriate marketing techniques.
    That explains why most of discoveries, ideas, patents just stay unimplemented and not visible to others.
</p>
<p>
    We have started our project to facilitate the two counterparts - Business and Science - to meet each other and fruitfully work together.
</p>


<h2>Advantages for Business</h2>
<p>
    It is expensive for companies to maintain a whole research group with expensive equipment and high-skilled scientists.
    These costs become especially crucial and even prohibiting for occasional investigations and for small- to mid-size
    companies.
</p>
<p>
    We help you to find trustworthy researchers that can provide you with a professional scientific investigation.
</p>
<p>
    Do not hesitate! <a href="@routes.RegisterController.form">Sign up</a>  now!
</p>

<h2>Advantages for Science</h2>
<p>
    Researchers like to see their project actually applied in real life, but normally it is possible only if you start your own startup.
    This is an intriguing and challenging way, on which most of the groups cannot succeed.
</p>
<p>
    Using ScienceProvider you can meet a customer that can order a new research or buy the results (technical details, patents, etc.)
    of an existing one.
</p>
<p>
    <a href="@routes.RegisterController.form">Sigh up</a> and start searching your customers!
</p>

}
