@import models.Lab
@import models.User

@(labList: Seq[Lab], userOption: Option[User])(implicit messages: Messages, request: RequestHeader)

@main("Labs", userOption) {

<h1>Researchers</h1>

<table>
    <thead><tr>
        <th>Name</th>
        <th>University</th>
        <th>Country</th>
    </tr></thead>
    <tbody>
    @for(lab <- labList) {
    <tr>
        <td><a href="@routes.LabsController.get(lab.id)">@lab.name</a></td>
        <td>@lab.university</td>
        <td>@lab.country</td>
    </tr>
    }
    </tbody>
</table>

}