@import helper._
@import services.LoginData

@()(implicit messages: Messages, request: RequestHeader)

@form( action = routes.LoginController.login(), 'id -> "loginForm", 'method -> "POST") {
    @CSRF.formField

<dl class=" " id="login_field">
    <dt><label for="login">login</label></dt>
    <dd>
        <input type="text" id="login" name="login" value="" />
    </dd>
    <dd class="info">Required</dd>
</dl>
<dl class=" " id="password_field">
    <dt><label for="password">password</label></dt>
    <dd>
        <input type="password" id="password" name="password" />
    </dd>
    <dd class="info">Required</dd>
</dl>
    <button type="submit">Sign In</button>
}