@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>Science Provider - @title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    </head>
    <body>

    <section id="top">
  <div class="wrapper">
    <h1><a href="@routes.HomeController.index">Science Provider</a></h1>
  </div>
</section>

<div id="content" class="wrapper doc">
    <article>
        @content
    </article>

    <aside>
        <h3>For Business</h3>
        <ul>
            <li><a href="@routes.RegisterController.form">Sign up</a></li>
            <li><a href="@routes.LabsController.list">Browse Researchers</a></li>
        </ul>
        <h3>For Science</h3>
        <ul>
            <li>Advantages</li>
            <li>Sign up</li>
        </ul>
        <h3>About Us</h3>
        <ul>
            <li>About page</li>
        </ul>
    </aside>
</div>
    </body>
    <footer>
        <div>
            <p>This is a footer.</p>
        </div>
    </footer>
</html>
