@import services.UserData
@import helper._

@(userForm: Form[UserData])(implicit messages: Messages, request: RequestHeader)

@main("Become a Member") {

<h2>
    Please register!
</h2>

<script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")"></script>
<script src="@routes.Assets.versioned("javascripts/jquery.validate.min.js")"></script>
<script src="@routes.Assets.versioned("javascripts/registerFormValidation.js")"></script>
<script src='https://www.google.com/recaptcha/api.js' async defer></script>

@form( action = routes.RegisterController.userPost(), 'id -> "registerForm", 'method -> "POST",
    'onsubmit -> "return $(this).valid() && grecaptcha.getResponse() != ''") {
    @CSRF.formField
    @inputText(userForm("name"))
    @inputText(userForm("country"))
    @inputText(userForm("email"))
    @inputText(userForm("login"))
    @inputPassword(userForm("password"))
    @inputPassword(userForm("confirmPassword"))
    <div class="g-recaptcha" data-sitekey="6LeGoTYUAAAAANsfgNaCgR9kdACvBSb3S-TUaHgY"></div>
    <button type="submit">Sign Up</button>
}


@*
<form id="registerForm" method="post" action="">
    <input type="text" id="name" name="name"/>
    <input type="submit" value="Sign Up!"/>
</form>
*@

}