@import models.User
@(user: Option[User])(implicit messages: Messages, request: RequestHeader)

<aside>
    <h3>For Business</h3>
    <ul>
        <li><a href="@routes.LabsController.list">Browse Researchers</a></li>
        <li><a href="@routes.RegisterController.form">Sign up</a></li>
    </ul>
    <h3>For Scientists</h3>
    <ul>
        <li><a href="@routes.ScienceController.index">Advantages</a></li>
        <li><a href="@routes.RegisterController.form">Sign up</a></li>
    </ul>
    @{user match {
        case Some(logged) =>  backoffice_menu(logged)
        case None => loginform()
    }}

</aside>